main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 1% auto;

}

#tabs {
  display: flex;
  justify-content: space-between;
  button {
    flex: 1;
  }

}

ul {
  padding-left: 0;
  li {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
}

%triangle { // if a button has a class of active, then attach this as a pseudo :after element to the button
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin: 0 auto;
  border-left: 12.5px solid transparent;
  border-right: 12.5px solid transparent;
  border-top: 25px solid red;
}

.channel-name {
  margin-top: 2.5em;
  margin-left: 1em;
}

.logo {
  border-radius: 50%;
  width: 7em;
  height: 7em;
}

.program {
  position: absolute;
  top: 33%;
  left: 17%;
}

.hide {
  display: none;
}
